[submodule "locations"]
	path = locations
	url = git@github.com:tlevine/intherooms-locations
[submodule "searches"]
	path = searches
	url = git@github.com:tlevine/intherooms-searches.git
[submodule "meetings"]
	path = meetings
	url = git@github.com:tlevine/intherooms-meetings.git
[submodule "searches-sf"]
	path = searches-sf
	url = git@github.com:tlevine/intherooms-searches-sf.git
[submodule "locations-sf"]
	path = locations-sf
	url = git@github.com:tlevine/intherooms-locations-sf.git
[submodule "meetings-sf"]
	path = meetings-sf
	url = git@github.com:tlevine/intherooms-meetings-sf.git
[submodule "meetings-ny"]
	path = meetings-ny
	url = git@github.com:tlevine/intherooms-meetings-ny.git
[submodule "searches-ny"]
	path = searches-ny
	url = git@github.com:tlevine/intherooms-searches-ny.git
[submodule "locations-ny"]
	path = locations-ny
	url = git@github.com:tlevine/intherooms-locations-ny.git
[submodule "searches-usa"]
	path = searches-usa
	url = git@github.com:tlevine/intherooms-searches-usa.git
