## master
*.pyc
*.~lock.*

# Specific files
.last.html
intherooms.db-sf
intherooms.db-ny
intherooms.db-journal
intherooms.csv
intherooms.json

intherooms-location-sample.csv
intherooms-meeting-sample.csv
